body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
  }
  #localvideo {
    position:fixed;
    background-color: #1f1f1f8e;
    border-radius: 10px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 40%;
  }
  #remotevideo{
    position:relative;
    background-color: #1f1f1f8e;
    border-radius: 10px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 40%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 50px 50px 0px 50px;
    width: 100%;
    background-color:darkgray;
    color: white;
    text-align: center;
  }